@model LoginRegister.ViewModels.ViewChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Change Password</title>
</head>
<body>
    <form class="col-md-4 mb-3" action="ChangePassword" controller="Home" method="post" novalidate>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">E-mail adresiniz</label>
            </div>
            <div class="col-auto">
                <input asp-for="Email" type="text" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="Email">
            </div>

        </div>   <br />

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Eski Şifreniz</label>
            </div>
            <div class="col-auto">
                <input asp-for="OldPasword" type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="Old Password">
            </div>

        </div>   <br />

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Yeni Şifreniz</label>
            </div>
            <div class="col-auto">
                <input asp-for="Password" type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="Password">
            </div>

        </div> <br />

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Yeni Şifreniz</label>
            </div>
            <div class="col-auto">
                <input asp-for="ConfirmPassword" type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline" placeholder="Confirm Password">
            </div>
        </div><br />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Accept</button>


    </form>


</body>
</html>

