@model LoginRegister.ViewModels.ViewLoginModel
<!doctype html>
<html lang="en">


<body class="text-center">
    <form class="col-md-4 mb-3" action="Login" controller="Home" method="post" novalidate>
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label for="Email" class="sr-only">Email address</label>
        <input asp-for="Email" type="email" id="Email" class="form-control" placeholder="Email address" required>
        <div class="invalid-feedback">
            Email
        </div>

        <label for="inputPassword" class="sr-only">Password</label>
        <input asp-for="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <div class="checkbox mb-3">
            <label>
                <input asp-for="RememberMe" type="checkbox"> Remember me
            </label>
            <div>
                <p class="mt-5 mb-3 text-muted"> Şifrenizi unuttuysanız <a href="~/home/forget"> gerizekalı </a>'ya tıklayınız... </p>
            </div>


        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">İçerisi Şampiyonlar Ligi Gibi...</p>
    </form>
</body>
</html>
